body {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Adventurer Animation Styles */

.adventurer {
  background-size: cover;
  background-image: url("./assets/adventurer_stand.png");
  width: 110px;
  height: 160px;
  -webkit-animation: animStand 3s steps(13) infinite;
  animation: animStand 3s steps(13) infinite;
}

.blush {
  background-image: url("./assets/adventurer_stand_title.png");
  -webkit-animation: animBlush 2s steps(8) infinite;
  animation: animBlush 2s steps(8) infinite;
}

.runRight {
  -webkit-animation: animRun 800ms steps(8) infinite;
  animation: animRun 800ms steps(8) infinite;
  background-image: url("./assets/adventurer_run_right.png");
}

.runLeft {
  -webkit-animation: animRun 800ms steps(8) infinite;
  animation: animRun 800ms steps(8) infinite;
  background-image: url("./assets/adventurer_run_left.png");
}

.runForward {
  -webkit-animation: animRun 800ms steps(8) infinite;
  animation: animRun 800ms steps(8) infinite;
  background-image: url("./assets/adventurer_run_forward.png");
}

.runBackward {
  -webkit-animation: animRun 800ms steps(8) infinite;
  animation: animRun 800ms steps(8) infinite;
  background-image: url("./assets/adventurer_run_backward.png");
}

/* Adventurer Animations */

@keyframes animBlush {
  0% {
    background-position: 0px 0px;
  }
  30% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 880px 0px;
  }
}

@keyframes animStand {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1430px 0px;
  }
}

@keyframes animRun {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 880px 0px;
  }
}

/* Princess Animation Styles */

.princess {
  background-image: url("./assets/princess_stand.png");
  -webkit-animation: animPricess 1.5s steps(4) infinite;
  animation: animPricess 1.5s steps(4) infinite;
  background-size: cover;
  width: 80px;
  height: 160px;
  animation-play-state: running;
}

/* Princess Animations */

@keyframes animPricess {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 320px 0px;
  }
}
