.princess {
  margin: auto;
  transform: scaleX(-1);
}

@keyframes animPricess {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 320px 0px;
  }
}

canvas {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
