body{
    background-color: rgb(109,190, 200);
    margin: 0;
    font-family: 'Press Start 2P';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

p {
    margin: 0;
}

.body-container {
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.canvas, .picker{
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
}

.canvas {
    width: 960px;
    height: 576px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 64px);
    grid-template-rows: repeat(auto-fill, 64px);
}

.canvas-container {
    margin: 0 16px 0 48px
}

.buttons {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;
    height: 44px;
}

button{
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Press Start 2P';
    border: 2px solid black;
    background: white;
}

button.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    justify-content: space-between;
    text-align: center;
}

button>img {
    margin-right: 8px;
}

button:hover{
    background-color: lightgray;
    box-shadow: inset 0 0 3px #000000;
}

.picker {
    flex: 1;
    height: 100%;
    margin: 0 48px 0 16px;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 64px);
    overflow: scroll;
}

.tile-picker, .tile-overlay, .tile-layer {
    height: 64px;
    width: 64px;
}

.tile-picker, .tile-layer {
    background-image: url(../assets/background.png);
    background-size: 512px 1216px;
}

.tile-picker {
    border: 2px solid black;
}

.tile-picker:hover {
    transform: translate(-1px, -1px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.tile-overlay {
    position: absolute;
    z-index: 2;
}

.tile-layer {
    position: absolute;
}

canvas{
    z-index: 3;
    position: absolute;
    margin: 8px;
    pointer-events: none;
}