.adventurer,
.princess {
  transform: scaleX(-1);
}

.scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.adventurer-container {
  margin-left: -110px;
  display: flex;
  flex-direction: row;
}

.princess {
  margin-right: 48px;
}

.bubble-adventurer {
  background-image: url("../assets/thought-bubble.png");
  width: 64px;
  height: 64px;
  background-size: cover;
}

.dialog-box {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../assets/dialog-box.png");
  width: 100%;
  height: 120px;
  background-size: cover;
}
