.adventurer,
.princess {
  transform: scaleX(-1);
}

.scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adventurer-container {
  margin-left: -110px;
  display: flex;
  flex-direction: row;
}

.princess {
  margin-right: 48px;
}

.bubble {
  background-image: url("../assets/thought-bubble.png");
  width: 64px;
  height: 64px;
  background-size: cover;
  position: relative;
  transform: translateX(-20px);
  visibility: hidden;
}

/* .dialog-box {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../assets/dialog-box.png");
  width: 100%;
  height: 120px;
  background-size: cover;
  font-size: 16px;
  font-family: "Press Start 2P";
  box-sizing: border-box;
  padding: 42px 16px 16px 16px;
  line-height: 26px;
  letter-spacing: -1px;
} */

canvas {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.emoji {
  background-image: url(../assets/emojis.png);
  background-size: 324px 36px;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 7px;
  top: 3px;
}
