.adventurer,
.princess {
  animation-play-state: running;
  background-size: cover;
  transform: scaleX(-1);
}

body {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adventurer {
  width: 110px;
  height: 160px;
  background-image: url("../assets/adventurer_stand_title.png");
  -webkit-animation: animAdventurer 2s steps(8) infinite;
  animation: animAdventurer 2s steps(8) infinite;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes animAdventurer {
  0% {
    background-position: 0px 0px;
  }
  30% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 880px 0px;
  }
}

.princess {
  width: 80px;
  height: 160px;
  background-image: url("../assets/princess_stand.png");
  -webkit-animation: animPricess 1.5s steps(4) infinite;
  animation: animPricess 1.5s steps(4) infinite;
  margin-right: 48px;
}

@keyframes animPricess {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 320px 0px;
  }
}

.character-container {
  display: flex;
  flex-direction: row;
}

.bubble-adventurer {
  background-image: url("../assets/thought-bubble.png");
  width: 64px;
  height: 64px;
  background-size: cover;
}

.runRight {
  -webkit-animation: animRun 800ms steps(8) infinite;
  animation: animRun 800ms steps(8) infinite;
  background-image: url("../assets/adventurer_run_right.png");
}

.runLeft {
  -webkit-animation: animRun 800ms steps(8) infinite;
  animation: animRun 800ms steps(8) infinite;
  background-image: url("../assets/adventurer_run_left.png");
}

.runForward {
  -webkit-animation: animRun 800ms steps(8) infinite;
  animation: animRun 800ms steps(8) infinite;
  background-image: url("../assets/adventurer_run_forward.png");
}

.runBackward {
  -webkit-animation: animRun 800ms steps(8) infinite;
  animation: animRun 800ms steps(8) infinite;
  background-image: url("../assets/adventurer_run_backward.png");
}

@keyframes animRun {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 880px 0px;
  }
}

.dialog-box {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../assets/dialog-box.png");
  width: 100%;
  height: 120px;
  background-size: cover;
}
